<launch>
    <arg name="uuv_name" default="desistek_saga"/>

    <include file="$(find uuv_thruster_manager)/launch/thruster_manager.launch">
        <arg name="uuv_name" value="$(arg uuv_name)" />
        <arg name="model_name" value="desistek_saga" />
        <arg name="output_dir" value="$(find desistek_saga_control)/config"/>
        <arg name="config_file" value="$(find desistek_saga_control)/config/thruster_manager.yaml"/>
        <arg name="tam_file" value="$(find desistek_saga_control)/config/TAM.yaml"/>
    </include>
</launch>