<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Launch the turtlesim -->
  <node name="turtlesim" pkg="turtlesim" type="turtlesim_node" />

  <!-- Launch the turtlesim shape action server -->
  <node name="turtle_shape" pkg="turtle_actionlib" type="shape_server" />

  <!-- Launch the dashboard -->
  <node name="turtle_dashboard" pkg="turtlesim_dash_tutorial" type="dashboard" output="screen" />
</launch>
