<?xml version="1.0"?>

<model>
  <name>Heifu with Standoffs and Camera LiftDrag ArduCopter Plugins</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Filipe Almeida</name>
    <email>filipe.almeida@pdmfc.com</email>
  </author>


  <maintainer email="filipe.almeida@pdmfc.com">Filipe Almeida</maintainer>


  <description>
    starting with heifu_with_standoffs
    add LiftDragPlugin
    add ArduCopterPlugin
    attach gimbal_small_2d model with GimbalSmall2dPlugin
  </description>
  <depend>
    <model>
      <uri>model://heifu_with_standoffs</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
