<launch>
    <param name="/use_sim_time" value="false" />

    <group>
        <remap from="tf" to="tf_old" />
        <test test-name="tf_remapper_node_bidi" pkg="tf_remapper_cpp" type="test_tf_remapper_node" />
    </group>

    <node name="broadcaster_ab" pkg="tf" type="static_transform_publisher" args="1 2 3 4 5 6 a b 10"/>
    <node name="broadcaster_de" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 d e 10"/>
    <node name="broadcaster_kl" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 k l 10"/>
    <node name="broadcaster_yz" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 x z 10"/>

    <node name="remapper" pkg="tf_remapper_cpp" type="tf_remap" output="screen">
        <rosparam param="mappings">[{old: c, new: b}, {old: d, new: ''}, {old: '', new: d}, {old: k, new: k}, {old: y, new: x}]</rosparam>
        <param name="is_bidirectional" value="true" />
    </node>
</launch>