<launch>
    <param name="/use_sim_time" value="false" />

    <group>
        <remap from="tf" to="tf_old" />
        <node name="broadcaster_yz" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 y z 10"/>
    </group>

    <node name="remapper" pkg="tf_remapper_cpp" type="tf_remap" output="screen"/>

    <test test-name="check_tf_exists_yz" pkg="tf_remapper_cpp" type="check_tf_exists">
        <param name="source_tf" value="y" />
        <param name="target_tf" value="z" />
        <param name="should_succeed" value="true" />
    </test>
</launch>