<?xml version="1.0"?>

<model>
  <name>Heifu with Standoffs</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Filipe Almeida</name>
    <email>filipe.almeida@pdmfc.com</email>
  </author>


  <maintainer email="filipe.almeida@pdmfc.com">Filipe Almeida</maintainer>


  <description>
    A copy of the 3DR Heifu model taken from
    https://github.com/PX4/sitl_gazebo/tree/master/models
    Local modifications include adding standoffs,
    inertia and collision updates..
  </description>
</model>
