<launch>

  <arg name="gui" default="true" />
  <arg name="model" default="$(find leo_description)/urdf/leo.urdf.xacro"/>

  <param name="robot_description" 
         command="$(find xacro)/xacro --inorder $(arg model)"/>

  <node name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher"
        output="screen"/>

  <node unless="$(arg gui)"
        name="joint_state_publisher" 
        pkg="joint_state_publisher"
        type="joint_state_publisher"
        output="screen">
    <param name="publish_default_efforts" value="true"/>
  </node>

  <node if="$(arg gui)" 
        name="joint_state_publisher_gui"
        pkg="joint_state_publisher_gui"
        type="joint_state_publisher_gui"
        output="screen">
    <param name="publish_default_efforts" value="true"/>
  </node>

  <include file="$(find leo_viz)/launch/rviz.launch">
    <arg name="config" value="robot"/>
  </include>

</launch>
