<?xml version="1.0"?>
<launch>
  <!-- Configuration of Warthog which you would like to simulate.
       See warthog_description for details. -->
  <arg name="config" default="base" />
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="1" />
  <arg name="yaw" default="0" />

  <!-- Load Warthog's description, controllers, and teleop nodes. -->
  <include file="$(find warthog_description)/launch/description.launch">
    <arg name="config" value="$(arg config)" />
  </include>
  <!-- joint_state_publisher is needed to pushish the suspension joints. -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <include file="$(find warthog_control)/launch/control.launch" />
  <include file="$(find warthog_control)/launch/teleop.launch" />

  <!-- Spawn Warthog -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
	      args="-urdf -model warthog -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -R 0 -P 0 -Y $(arg yaw)" />
</launch>
