<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>PlotJuggler</Name>
    <Version>2.1.4</Version>
    <Title>PlotJuggler installer</Title>
    <Publisher>Davide Faconti</Publisher>
    <StartMenuDir>Applications</StartMenuDir>
    <TargetDir>@ApplicationsDir@/PlotJuggler</TargetDir>
</Installer>

