<launch>
  <!-- Vehicle's initial position -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="-5"/>
  <arg name="yaw" default="0"/>

  <arg name="teleop_on" default="false"/>
  <arg name="joy_id" default="0"/>

  <include file="$(find desistek_saga_description)/launch/upload_desistek_saga.launch">
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>
    <arg name="yaw" value="$(arg yaw)"/>
  </include>

  <include file="$(find desistek_saga_control)/launch/start_nmb_sm_control.launch">
      <arg name="teleop_on" value="$(arg teleop_on)"/>
      <arg name="joy_id" value="$(arg joy_id)"/>
  </include>

</launch>
