<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="multisenseS7S" params="name">

        <link name="${name}/head">
            <visual>
                <origin xyz="0 -0.0625 -0.037" rpy="1.57079632679 0 1.57079632679" />
                <geometry>
                    <mesh filename="package://multisense_description/meshes/multisense_s7s.STL" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="">
                    <color rgba="0.9098 0.44314 0.031373 1" />
                </material>
            </visual>
        </link>

        <joint name="${name}/left_camera_joint" type="fixed">
            <origin xyz="0.03 0.035 0.0"/>
            <parent link="${name}/head"/>
            <child link="${name}/left_camera_frame"/>
        </joint>

        <link name="${name}/left_camera_frame"/>

        <joint name="${name}/right_camera_joint" type="fixed">
            <origin xyz="0.03 -0.035 0.0"/>
            <parent link="${name}/head"/>
            <child link="${name}/right_camera_frame"/>
        </joint>

        <link name="${name}/right_camera_frame"/>

        <joint name="${name}/left_camera_optical_joint" type="fixed">
            <origin xyz="0 0 0" rpy="-1.57079632679 0.0 -1.57079632679"/>
            <parent link="${name}/left_camera_frame"/>
            <child link="${name}/left_camera_optical_frame"/>
        </joint>

        <link name="${name}/left_camera_optical_frame"/>

        <joint name="${name}/right_camera_optical_joint" type="fixed">
            <origin xyz="0 0 0" rpy="-1.57079632679 0.0 -1.57079632679"/>
            <parent link="${name}/right_camera_frame"/>
            <child link="${name}/right_camera_optical_frame"/>
        </joint>

        <link name="${name}/right_camera_optical_frame"/>

        <joint name="${name}/accel_joint" type="fixed">
            <origin xyz="0.047 0.0302 -0.00075" rpy="0.0 1.57079632679 0.0"/>
            <parent link="${name}/head"/>
            <child link="${name}/accel"/>
        </joint>

        <link name="${name}/accel"/>

        <joint name="${name}/mag_joint" type="fixed">
            <origin xyz="0.047 0.0302 -0.00075" rpy="0.0 1.57079632679 0.0"/>
            <parent link="${name}/head"/>
            <child link="${name}/mag"/>
        </joint>

        <link name="${name}/mag"/>

        <joint name="${name}/gyro_joint" type="fixed">
            <origin xyz="0.047 0.03880 0.00125" rpy="-1.57079632679 0.0 -1.57079632679"/>
            <parent link="${name}/head"/>
            <child link="${name}/gyro"/>
        </joint>

        <link name="${name}/gyro"/>
    </xacro:macro>
</robot>

