<launch>
  <arg name="PR2_NO" default="1012" />
  <rosparam command="load" file="$(find pr2eus)/test/pr$(arg PR2_NO)_urdf.yaml" param="robot_description"/>
  <node name="pr2_camera_info" pkg="rosbag" type="play"
	args="-l $(find pr2eus)/test/pr1012_camera_info.bag" />
  <test test-name="make_pr2_model_file_test" pkg="roseus" type="roseus"
	args="$(find pr2eus)/test/make-pr2-model-file-test.l"
        time-limit="1800" />
</launch>