<!-- 
   An example that loads up pc interactions and lets you interact with
   talker instances using the rocon remocon and a web app.

   Usage:
     - Install roscpp_tutorials(talker) and rosbridge_suite (rosbridge server)
     - Launch this launcher
     - Call 'rocon_interactions' to view the loaded interactions.
     - Install rocon_qt_guis (rocon_remocon)
     - Run 'rocon_remocon' to interact with the tutorial.
-->
<launch>
  <arg name="rosbridge_port" default="8080"/>
  <arg name="webserver_address" default="robotics-in-concert.github.io"/>

  <param name="name" value="Rocon Web App Interactions"/>
  <param name="description" value="A tutorial environment for web app interactions (using rosbridge)) and remocons."/>
  <param name="icon" value="rocon_icons/cybernetic_pirate.png"/>
  <node pkg="rocon_master_info" type="master.py" name="master"/>

  <node pkg="rocon_interactions" type="interactions_manager.py" name="interactions">
    <rosparam param="interactions">[rocon_interactions/web_apps, rocon_interactions/web]</rosparam>
    <param name="rosbridge_port" value="$(arg rosbridge_port)"/>
    <param name="webserver_address" value="$(arg webserver_address)"/>
  </node>

  <node pkg="roscpp_tutorials" type="talker" name="talker">
    <remap from="chatter" to="babbler"/>
  </node>
  
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
     <arg name="port" value="$(arg rosbridge_port)"/>
  </include>
</launch>
