<?xml version="1.0"?>
<launch>
    <!-- Gazebo simulation -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find heifu_description)/worlds/secredas_sim2.world"/>
        <!-- <arg name="world_name" value="/usr/share/gazebo-9/worlds/empty_world.world"/> -->
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>
</launch>
