<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find multisense_description)/urdf/multisenseSL/multisenseSL.urdf.xacro"/>

  <xacro:macro name="importable_multisenseSL" params="parent name *origin">

    <!-- Joint for connection to parent -->
    <joint name="${name}_head_root_joint" type="fixed">
      <insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name}/head"/>
    </joint>

    <xacro:multisenseSL name="${name}" />

  </xacro:macro>
</robot>

