<launch>
  <!-- Robot Spawn Pose -->
  <arg name="x"         default="0"/>
  <arg name="y"         default="0"/>
  <arg name="z"         default="0.1"/>
  <arg name="yaw"       default="0"/>

  <!-- Optionally disable teleop -->
  <arg name="joystick"  default="true" />

  <!-- Configuration of Dingo which you would like to simulate.
       See dingo_description for details. -->
  <arg name="config"    default="$(optenv DINGO_CONFIG base)" />

  <!-- Load Dingo's description, controllers, and teleop nodes. -->
  <include file="$(find dingo_description)/launch/description.launch">
    <!-- <arg name="config" value="$(arg config)" /> -->
  </include>
  <include file="$(find dingo_control)/launch/control.launch" />
  <include file="$(find dingo_control)/launch/teleop.launch">
    <arg name="joystick" value="$(arg joystick)"/>
  </include>

  <group if="$(optenv DINGO_OMNI 0)">
    <rosparam command="load" file="$(dirname)/../config/gains_omni.yaml" />
  </group>
  <group unless="$(optenv DINGO_OMNI 0)">
    <rosparam command="load" file="$(dirname)/../config/gains_diff.yaml" />
  </group>

  <!-- Spawn dingo -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
	      args="-urdf -model dingo -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw)" />
</launch>
