<launch>
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="joystick" default="true" />

  <group if="$(optenv DINGO_OMNI 0)">
    <rosparam command="load" ns="bluetooth_teleop" file="$(dirname)/../config/teleop_omni.yaml" />
    <arg name="config" value="planar" />
    <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server">
      <rosparam command="load" file="$(find interactive_marker_twist_server)/config/$(arg config).yaml" />
    </node>
  </group>
  <group unless="$(optenv DINGO_OMNI 0)">
    <rosparam command="load" ns="bluetooth_teleop" file="$(dirname)/../config/teleop_diff.yaml" />
    <arg name="config" value="linear" />
    <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server">
      <rosparam command="load" file="$(find interactive_marker_twist_server)/config/$(arg config).yaml" />
    </node>
  </group>

  <group ns="bluetooth_teleop" if="$(arg joystick)">
    <node pkg="joy" type="joy_node" name="joy_node" />
    <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy"/>
  </group>

</launch>
